[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
urljoin = "*"
beautifulsoup4 = "*"
patool = "*"
requests = "*"
urllib3 = "*"
dbfread = "*"
happybase = "*"

[dev-packages]

[requires]
python_version = "3.10"
